spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/imdb_db
    username: admin
    password: 1204752
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true